#resbusqueda {
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    box-sizing: border-box;
}

.pelicula {
    box-sizing: border-box;
    width: 10%;
    height: auto;
    margin: 20px;

}

.pelicula img {
    width: 100%;
    height: 150px;
}
.footer {
    position: absolute;
    bottom: 0%;
    background-color: darkcyan;
    width: 100%;
}
.footer p{
    margin-left:800px ;
}